{% extends "index.html" %}
{% block title_head %}
Sobre mi
{% endblock title_head %}
{% block h1_header %}
Sobre mi
{% endblock h1_header %}


{% block main %}

<ul style="color:white">
    <li>
    Nombre: Tadeo
    </li>
    <li>
    Apellido: Folgueira    
    </li>
    <li>
    Mail de contacto: tadeofolgueira@gmail.com    
    </li>
    <li>
    Lenguajes dominados:
        <li>HTML</li>
        <li>CSS</li>
        <li>PYTHON</li>  
    </li>
    <li>
        Formación: Título secundario
    </li>
    <li>
        Estudiando actualmente: Lic. en Ciencias de la Computación
    </li>

</ul>
<p style="color:white">Actualmente en formación como programador, llevo apenas meses de experiencia que complementé con<br>
coderhouse y mi carrera. Espero especializarme en back end, y de ser posible ser full stack developer.<br>

</p>
{% endblock main %}

