{% extends "index.html" %}
{% block title_head %}
Editar perfil
{% endblock title_head %}
{% block h1_header %}
Editar perfil
{% endblock h1_header %}

{% block main %}

<form action={% url "editar_perfil" %} method="post" enctype="multipart/form-data">

    {% csrf_token %}
 
{{formulario}}

    {% comment %} {{ formulario.as_p }} {% endcomment %}

    {% comment %} {% if request.user.datosuser.avatar %}
        <img src="{{ request.user.datosuser.avatar.url }}" alt="Avatar de {{ request.user.username }}" style="max-width: 150px; max-height: 150px;">
    {% else %}
        <p>No hay avatar disponible</p>
    {% endif %} {% endcomment %}


    <input type="submit" value="Actualizar">

</form>

<a href={% url "cambiar_contrasenia" %}>Cambiar contrasenia</a>

{% endblock main %}