{% extends "index.html" %}
{% block title_head %}
Casa
{% endblock title_head %}

{% block h1_header %}
{{casa}}
{% endblock h1_header %}
{% block main %}

<ul>

<li>
    Tipo:{{casa.tipo}}
</li>
<li>
    Estilo:{{casa.estilo}}
</li>
<li>
    Inmoviliaria:{{casa.inmoviliaria}}
</li>
<li>
    Fecha:{{casa.fecha}}
</li>
<li>
    {% if casa.imagen %}
    <img src="{{ casa.imagen.url }}" alt="Imagen de la casa" style="height:550px;width:750px">
{% else %}
    No hay imagen disponible
{% endif %}
</li>

</ul>

{% endblock main %}

